<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BriteCore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css">
    <style>
      article.post {margin: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #E6EAEE; }
      article.post:last-child {padding-bottom: 0; border-bottom: none; }
      .menu-list li{padding: 5px; }
      .section { background: #f6f6f6; }
    </style>
  </head>
  <body>
    <section class="hero is-white">
      <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h6 href="/" class="subtitle"><strong>BriteCore</strong></h6>
          </a>
          <div id="navbar-burger-id" class="navbar-burger burger" data-target="navbar-menu-id">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        
      </nav>
    </section>
    {% block body %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
